{% extends 'base.html' %} 
{% load static %}


{% block title %}
    Home-G4Car
{% endblock title %}


{% block main %}
    <h2 class="principal" align="center">G4Car - Veículos </h2>
    <h6 align="center">
    <a  href="cadastro_cliente">cadastro Cliente</a> &nbsp; 
    <a  href="listagem_clientes">listagem Clientes</a> &nbsp; 
    <a  href="cadastro_veiculo">cadastro Veiculo</a> &nbsp; 
    <a  href="listagem_veiculos">listagem Veiculos</a> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;

    {% if user.get_username %}
        (usuário : {{ user.get_username }} | <a href="account/logout/" >sair</a>)
    {% else %}
        (usuário : Voçê não esta Logado | <a href="account/login/" >login</a> &nbsp; <a href="registrar/">registrar</a>)        
    {% endif %}
    </h6>

    

    <h1 align="center">
    <img src="https://ik.imagekit.io/VictorParavatti/fundo_1EuSMzlYx.png">
    </h1>

    
{% endblock %}