{% extends 'base.html' %}
{% load static %}

{% block title %}
    listagem-Clientes
{% endblock %}

{% block main %}
    <h3>---listagem Clientes---</h3>
    {% for cliente in clientes %}
        Nome: {{cliente.nome}}  &nbsp; |<a href="{% url 'url_atualiza_cliente' cliente.id  %}"> Editar </a>  &nbsp; 
                                        <a href="{% url 'url_exclui_cliente' cliente.id  %}"> Excluir </a> <br>
        Endereço: {{cliente.endereco}} <br>
        Complemento: {{cliente.complemento}} <br>
        Bairro: {{cliente.bairro}} <br>
        Cidade: {{cliente.cidade}} <br>
        Cep: {{cliente.cep}} <br>
        Telefone: {{cliente.telefone}} <br>
        Email: {{cliente.email}} <br>
        {% if cliente.foto %}
            <img src="{{ cliente.foto.url }}" width= "100"> <br>
        {% else %}
            <img src="{% static 'img/ge.png' %}" width= "100"> <br>
        {% endif %}

    __________________________________________________________<br>
    {% endfor %}
<br><br>
    <a href="/">Home</a>
{% endblock %}